<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite1" verbose="1">
<listeners>
    <listener class-name="ListenerClass" />
</listeners>

<test name="AmazonTest">
    <classes>
        <class name="AmazonTest">
            <methods>
                <include name="amazonTest" />
                <include name="someTest" />
            </methods>
        </class>
    </classes>
</test>

</suite>